

.img-size {
    width: 100px;
}

.icon {
    color: gray;
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
}

.table>tbody {
 vertical-align: middle;
}

.button {
    padding: 10px 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}